<!DOCTYPE html>
<html lang="en">
    <head>
        <title>PROJECTS</title>
    </head>

    <body>
        <header>
            <a href="/" class="button">HOME</a>
            <a href="/projects" class="button">PROJECTS</a>
            <a href="/about" class="button">ABOUT</a>
            <a href="/contact" class="button">CONTACT</a>
        </header>

        <h1>Projects site</h1>
        <a href="/projects/blood_cell_cancer_detection" class="button">Blood cell cancer detection</a>
        <a href="/projects/brain_tumor_detection" class="button">Brain tumor detection</a>
        <a href="/projects/diabetes_classifier" class="button">Diabetes classifier</a>
        <a href="/projects/pca_gene_expression" class="button">PCA gene expression cancer classifier</a>
        <a href="/projects/clustering_of_penguins" class="button">Clustering of penguins</a>
    </body>
</html>